:root {
    --color-gray: rgb(240, 240, 240);
}

.content-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 2rem;
    text-align: center;
    margin-top: -0.1rem;
}

.navigation-wrapper {
    background: var(--color-gray);
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    margin-bottom: 20px;
}

.navigation {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background: var(--color-gray);
}

.navigation-dropdown-logout .logout {
    color: white;
    text-decoration: none;
}

.dropbtn {
    position: relative;
    font-size: 18px;
    line-height: 20px;
    color: white;
    border: none;
    cursor: pointer;
    background: transparent;
}

.dropbtn:hover #text {
    color: white;
}

.dropbtn:hover {
    background: rgba(0, 0, 0, 0);
}

.button-content:hover {
    color: white !important;
}

.drop-caret {
    position: absolute;
    bottom: 12px;
}

.nav-bar--dropdown.login-signin {
    padding-top: 0.3rem;
    text-align: center;
}

.mtt-text {
    position: relative;
    top: 42%;
}

.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content .link-logout {
    color: rgb(60, 60, 60) !important;
    background: var(--color-gray);
    text-decoration: none;
    position: relative;
    z-index: 100;
}

.link-logout:hover {
    color: rgb(50, 50, 50) !important;
    background: rgb(230, 230, 230);
}

.navbar {
    position: fixed;
    background-image: linear-gradient(to right, #F58528, #FE5C54);
    height: 4rem;
    width: 100%;
    top: 0rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 0px 1px 0px;
    border-bottom: 1px dotted gray;
    z-index: 1000;
    overflow: visible;
    font-family: 'Poppins', 'Sans-serif' !important;
}

.nav-link:hover {
    color: white;
}

.navbar-brand {
    position: relative;
    color: white;
    font-size: 1.7rem;
    font-weight: 600;
    font-style: oblique;
}

.navbar-brand:hover {
    text-shadow: .2px .2px 10px #fff, .2px .2px 10px #ccc;
}