.profile-img {
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    object-fit: cover;
}

.profile-image-container {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.username-input {
    font-size: 1.5rem;
    color: #FC6649;
    font-style: italic;
    font-weight: 700;
    border: none;
    background: none;
    outline: none;
    width: 100%;
    text-align: center;
}

.max-weight-input {
    font-size: 1.3rem;
    color: #777;
    font-weight: 300;
    border: none;
    background: none;
    outline: none;
    width: 100%;
    text-align: center;
}

.username {
    margin-top: .5rem;
}

.username,
.username-input,
.max-weight-input {
    cursor: pointer;
}

.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-table {
    margin: 0 auto;
    width: 100%;
}

.profile-table th,
.profile-table td {
    text-align: center;
    border: none;
    font-size: 1.3rem;
}

.profile-table th {
    color: #333;
    font-weight: 900;
}

.profile-table thead th,
.profile-table tbody td {
    width: 50%;
}

.porfile-table td {
    color: #777;
    font-weight: 500;
}

.right-content {
    padding-left: 20px;
    align-items: center;
    width: 100%;
}

.user-stats {
    color: #777;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}

.user-description {
    font-style: italic;
    max-width: 300px;
    text-align: center;
    margin-top: 1rem;
}

.user-stats-p {
    margin-left: auto;
    margin-right: auto;
}