.title-input {
    border: none;
    text-align: center;
    font-size: calc(1.375rem + 1.2vw);
    font-weight: bold;
    outline: none;
    font-family: 'Poppins', 'Sans-serif';
    background-color: transparent;
    cursor: text;
    text-decoration: underline;
    font-style: italic;
    color: #FC6649;
    font-weight: 700;
    padding: 0;
    margin-top: 1.6rem;
    margin-bottom: .65rem;
}

.workout-title {
    font-size: calc(1.375rem + 1.2vw);
    font-style: italic;
    color: #FE5C54;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.workout-title:hover {
    text-decoration: underline;
}