.display-container {
    padding: 1rem;
}

.workout-title {
    text-align: center;
    margin-bottom: 2rem;
}

.exercise-display {
    margin-bottom: 2rem;
}

.exercise-name {
    text-align: left;
    margin-bottom: 1rem;
}

.table {
    width: 100%;
    margin-bottom: 3rem;
}

.completion-button {
    border: none;
    background: none;
    cursor: pointer;
}

.checked {
    color: #F58528;
    background-color: white;
}

.unchecked {
    padding: 1px;
    color: white;
    background-color: #F58528;
    border-radius: 50%;
}

.fa-circle,
.fa-check-circle {
    border: 1px solid #F58528;
    border-radius: 50%;
}

.view-workout-title {
    font-size: calc(1.375rem + 1.2vw);
    font-style: italic;
    color: #FE5C54;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.view-exercise-header {
    font-size: calc(.8rem + 1.2vw);
    font-weight: 700;
    margin-top: 0;
    color: #FA713E;
}