/* General Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
<<<<<<< HEAD
    font-family: 'Poppins', sans-serif;
=======
    font-family: 'Arial', sans-serif; /* Ensures font consistency across elements */
>>>>>>> 97804d27f8370be363aad661ea3c770b43398b9a
}

/* Main layout styles */
.challenge-layout {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: flex-start;
}

.challenge-header {
    width: 100%;
    background-color: #FF4500; /* Bright orange to keep it vibrant and visible */
    color: white;
    padding: 20px;
    text-align: center;
    font-size: calc(1.375rem + 1.2vw); /* Dynamic size based on the viewport width */
    font-weight: bold; /* Makes header text bold */
    margin-bottom: 1rem; /* Adds space below the header */
}

.challenge-list {
    width: 100%;
}

.challenge-item {
    background-color: #FFFFFF;
    border-radius: 8px;
    margin: 10px 0;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Subtle shadow for 3D effect */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.challenge-item:hover {
    background-color: #f7f7f7; /* Light grey background on hover */
}

.challenge-name {
    color: #333;
    font-weight: bold;
    text-align: left; /* Aligns text to the left */
    margin-bottom: 0.5rem; /* Space below each challenge name */
}

.new-challenge-btn {
    background-color: #FF4500; /* Matching the header background */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    width: 90%; /* Takes most of the container width */
    text-align: center;
    margin-top: 20px; /* Space from the last element */
    font-size: 1rem; /* Reasonable font size for readability */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* More pronounced shadow for better visibility */
}

.new-challenge-btn:hover {
    background-color: #e69500; /* Darker shade of orange for hover state */
}

/* Styling for the bottom navigation bar, if included */
.bottom-nav {
    background-color: #FF4500;
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.bottom-nav span {
    cursor: pointer;
    font-size: 20px;
}

/* Exercise details styling if used */
.exercise-detail {
    background-color: #fff;
    border-radius: 8px;
    margin: 10px 0;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.exercise-name {
    font-size: calc(0.8rem + 1.2vw);
    color: #FA713E; /* A shade of orange that stands out */
    font-weight: bold;
    margin-top: 0;
    text-align: left; /* Consistent text alignment for exercise names */
}
